d-i debian-installer/locale string {{ hostvars[inventory_hostname]['vm']['locale'] | default("en_US") }} 
d-i preseed/early_command string kill-all-dhcp; netcfg

d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string {{ hostvars[inventory_hostname]['vm']['keymap'] | default('en') }}
d-i keyboard-configuration/xkb-keymap select {{ hostvars[inventory_hostname]['vm']['keymap'] | default('en') }}

d-i netcfg/choose_interface select {{ hostvars[inventory_hostname]['vm']['preseed_interface'] | default('auto') }}

{% if hostvars[inventory_hostname]['vm']['ipaddress'] is defined %}
d-i netcfg/disable_autoconfig boolean true
{% else %}
d-i netcfg/disable_autoconfig boolean false
{% endif %}

{% if hostvars[inventory_hostname]['vm']['ipaddress'] is defined %}
# Static network configuration.
d-i netcfg/get_ipaddress string {{ hostvars[inventory_hostname]['vm']['ipaddress'] }}
d-i netcfg/get_netmask string {{ hostvars[inventory_hostname]['vm']['netmask'] | default('255.255.255.0') }}
d-i netcfg/get_gateway string {{ hostvars[inventory_hostname]['vm']['gateway'] }}
d-i netcfg/get_nameservers string {{ hostvars[inventory_hostname]['vm']['nameservers']  }}
d-i netcfg/confirm_static boolean true
{% endif %}

d-i netcfg/get_hostname string {{ hostvars[inventory_hostname]['vm']['hostname'] | default(inventory_hostname)}}
d-i netcfg/get_domain string {{ hostvars[inventory_hostname]['vm']['domain'] }}

d-i netcfg/hostname string {{ hostvars[inventory_hostname]['vm']['hostname'] }}

d-i mirror/country string manual
d-i mirror/http/hostname string archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string

d-i clock-setup/utc boolean true

# You may set this to any valid setting for $TZ; see the contents of
# /usr/share/zoneinfo/ for valid values.
d-i time/zone string {{ hostvars[inventory_hostname]['vm']['timezone'] | default('UTC') }}

# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean true
# NTP server to use.
d-i clock-setup/ntp-server string {{ hostvars[inventory_hostname]['vm']['ntpserver'] | default('pool.ntp.org') }}

{% if hostvars[inventory_hostname]['vm']['partman_disk'] is defined %}
d-i partman-auto/disk string {{ hostvars[inventory_hostname]['vm']['partman_disk'] }}
{% endif %}
d-i partman-auto/method string {{ hostvars[inventory_hostname]['vm']['partman_auto_method'] | default('lvm') }}
d-i partman-auto-lvm/guided_size string {{ hostvars[inventory_hostname]['vm']['partman_guided_size'] | default('90%') }}
d-i partman-auto/choose_recipe select {{ hostvars[inventory_hostname]['vm']['partman_recipe'] | default('home') }}

{% if hostvars[inventory_hostname]['vm']['wipe_existing'] is defined %}
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/device_remove_lvm_span boolean true
d-i partman-auto/purge_lvm_from_device boolean true
{% endif %}

d-i partman/default_filesystem string {{ hostvars[inventory_hostname]['vm']['default_filesystem'] |  default('ext4') }}

# This makes partman automatically partition without confirmation
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman-md/confirm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true


d-i partman/mount_style select uuid

d-i passwd/root-login boolean {{ hostvars[inventory_hostname]['vm']['root_login'] | default('true') }}
d-i passwd/make-user boolean {{ hostvars[inventory_hostname]['vm']['make_user'] | default('false') }}

d-i user-setup/allow-password-weak  boolean {{ hostvars[inventory_hostname]['vm']['password_weak'] | default('true') }}

d-i passwd/root-password password r00tme
d-i passwd/root-password-again password r00tme

d-i user-setup/encrypt-home boolean {{ hostvars[inventory_hostname]['vm']['encrypt_home'] | default('false') }}

tasksel tasksel/first multiselect minimal
d-i pkgsel/include string openssh-server
d-i pkgsel/upgrade select full-upgrade

d-i pkgsel/language-packs multiselect de, en

d-i pkgsel/update-policy select unattended-upgrades

d-i grub-installer/only_debian boolean true

d-i grub-installer/with_other_os boolean true

{% if hostvars[inventory_hostname]['vm']['preseed_ip'] %}
d-i preseed/late_command string wget -q {{ hostvars[inventory_hostname]['vm']['preseed_ip'] }}:{{ hostvars[inventory_hostname]['vm']['preseed_port'] | default('8000') }}/postInstall.sh; chmod +x /postInstall.sh; sh /postInstall.sh >/target/root/install.log 2>&1
#d-i preseed/late_command string mkdir -p /target/root/.ssh/ ;cp /authorized_keys /target/root/.ssh/; chown root:root /target/root/.ssh/authorized_keys; chmod 600 /target/root/.ssh/authorized_keys
{% endif %}
# This will prevent the installer from ejecting the CD during the reboot,
# which is useful in some situations.
#d-i cdrom-detect/eject boolean false
d-i finish-install/reboot_in_progress note
